*.iml
.gradle/
**/build/
build/
app/build/
backend/build/
backend/.gradle/
/local.properties
local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
.navigation/
.kotlin/
.vscode/
*.log
